src/main/webapp/wsdl/dataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    name="dataService"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:pReq="http://nl.hu.fnt/dataservice/postRequest"
    xmlns:rsp="http://nl.hu.fnt/dataservice/response"
    xmlns:gReq="http://nl.hu.fnt/dataservice/getRequest"
    xmlns:flt="http://nl.hu.fnt/dataservice/fault"
    xmlns:tns="http://nl.hu.fnt/dataservice/message"
    targetNamespace="http://nl.hu.fnt/dataservice/message">


    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://nl.hu.fnt/dataservice/postRequest" schemaLocation="postRequest.xsd" />
            <xsd:import namespace="http://nl.hu.fnt/dataservice/getRequest" schemaLocation="getRequest.xsd" />

            <xsd:import namespace="http://nl.hu.fnt/dataservice/response" schemaLocation="response.xsd" />

            <xsd:import namespace="http://nl.hu.fnt/dataservice/fault" schemaLocation="fault.xsd" />
        </xsd:schema>
    </wsdl:types>


    <wsdl:message name="postRequest">
        <wsdl:part name="postRequest" element="pReq:postRequest" />
    </wsdl:message>

    <wsdl:message name="getRequest">
        <wsdl:part name="getRequest" element="gReq:getRequest" />
    </wsdl:message>

    <wsdl:message name="response">
        <wsdl:part name="response" element="rsp:response" />
    </wsdl:message>

    <wsdl:message name="fault">
        <wsdl:part name="fault" element="flt:dataFault" />
    </wsdl:message>


    <wsdl:portType name="dataServiceInterface">
        <wsdl:operation name="postData">
            <wsdl:input message="tns:postRequest" />
            <wsdl:output message="tns:response" />
            <wsdl:fault name="fault" message="tns:fault" />
        </wsdl:operation>
        <wsdl:operation name="getData">
            <wsdl:input message="tns:getRequest" />
            <wsdl:output message="tns:response" />
            <wsdl:fault name="fault" message="tns:fault" />
        </wsdl:operation>
    </wsdl:portType>


    <wsdl:binding name="dataServiceBinding" type="tns:dataServiceInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="postData">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getData">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>


    <wsdl:service name="dataService">
        <wsdl:port name="WS-Port" binding="tns:dataServiceBinding">
            <soap:address location="http://localhost:4000/soap/" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>